

<%- include("../partials/_navbar.ejs")  %>


<h1>Here's all the Books 📚</h1>
<ul>
  <% books.forEach(book => { %>
    <li>
        <%= book.bookImage %><br>
      <br>
      Book name: <%= book.BookName %> <br>
      Autor: <%= book.Author %> <br>
      Add by
      <%= book.owner.username %> <br>
      <a href="/books/<%= book._id %>">View all Quotes</a> <br><br>
  <% }) %>
</ul>
<br><br><br>
<a href="/books/new">Add a new book</a>