<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Books index</title>
  <link rel="stylesheet" href="/styles/main.css">

 


</head>
<body>
<%- include('../partials/_navbar.ejs') %>
  <div class="container">
    <h1>Books Library</h1>
    
    <ul class="book-list">
      <% books.forEach(book => { %>
        <li class="card">
          <% if (book.bookImage) { %>
            <!-- for upload the images -->
            <img src="/<%= book.bookImage %>" alt="<%= book.BookName %>">
          <% } %>

          <div class="book-info">
            <strong>Book Name:</strong> <%= book.BookName %><br>
            <strong>Author:</strong> <%= book.Author %><br>
            <strong>Added by:</strong> <%= book.owner.username %>
          </div>

          <a href="/books/<%= book._id %>">View All Quotes</a>
        </li>
      <% }) %>
    </ul>

    <a href="/books/new" class="add-btn">➕ Add New Book</a>
  </div>

</body>
</html>


