<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Profile</h1>

  
    <h2>My Listings  📚</h2>
    <p>
      You own <%= myListings.length %> 
      <%= myListings.length === 1 ? 'book.' : 'books.' %>
    </p>

    <ul>
      <% myListings.forEach((listing) => { %>
        <li>
          Book name <%= listing.BookName %>  by <%= listing.Author %>.
          <a href="/book/<%= listing._id %>">View all Quotes.</a>
        </li>
      <% }) %>
    </ul>

    <h2>My Favorites  📘📖 </h2>
    <p>
      You have favorited <%= myFavoriteListings.length %>
      <%= myFavoriteListings.length === 1 ? 'book.' : 'books.' %>
    </p>

  
  </body>
</html>
